.item{
    height: 300px;
    width: 350px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.item-img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}

.item h2{
    margin: 5px auto;

}

.item h4{
    margin: 5px auto;
}

.item button{
    margin: 5px auto;
}

.addToCart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.icon{
    margin-left: 5px;
}